<p id="notice"><%= notice %></p>

<p>
  <%= gravatar_for @player %>
</p>
<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>
<p>
  <strong>email:</strong>
  <%= @player.email %>
</p>
<p>
  <strong>Total Games:</strong>
  <%= @player.matches.count %>
</p>
<p>
  <strong>Wins Games:</strong>
  <%= @player.wins %>
</p>
<p>
  <strong>Losses Games:</strong>
  <%= @player.losses%>
</p>
<p>
  <strong>Win rate:</strong>
  <%= @player.win_ratio%>%
</p>
<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
