<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <% @players.each do |player| %>
    <%= f.radio_button :id_player1, player.id %><label for="id_player1_false"><%= player.name %></label>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :score_player1 %><br>
    <%= f.text_field :score_player1 %>
  </div>

  <div class="field">
    <% @players.each do |player| %>
    <%= f.radio_button :id_player2, player.id %><label for="id_player2_false"><%= player.name %></label>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :score_player2 %><br>
    <%= f.text_field :score_player2 %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
