<div class="container">
<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="row-fluid">
        <div class="span6">
          <div class="field">
            <div class="row">
              <% @players.each do |player| %>
                <div class="span4">
                  <label>
                    <%= f.radio_button :id_player1, player.id %>
                    <%= player.name %>
                  </label>
                </div>
              <% end %>
            </div><!--/row-->
          </div>
          <div class="field">
            <%= f.label :score_player1 %><br>
            <%= f.text_field :score_player1 %>
          </div>
        </div><!--/row-->
        <div class="row-fluid">
          <div class="span6">
          <div class="field">
            <div class="row">
              <% @players.each do |player| %>
                <div class="span4">
                  <label>
                    <%= f.radio_button :id_player2, player.id %>
                    <%= player.name %>
                  </label>
                </div>
              <% end %>
            </div><!--/row-->
          </div>
          <div class="field">
            <%= f.label :score_player2 %><br>
            <%= f.text_field :score_player2 %>
          </div>
        </div>
      </div><!--/row-->
    
  <div class="field" style = "display: none; ">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div> <!-- /container -->