<div><%= button_to "Click here to add a new match", new_match_path, :method => :get %></div>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Player1</th>
      <th>Score player1</th>
      <th>Player2</th>
      <th>Score player2</th>
      <th>Winner</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.player1.name %></td>
        <td><%= match.score_player1 %></td>
        <td><%= match.player2.name %></td>
        <td><%= match.score_player2 %></td>
        <td><%= winner(match) %></td>
        <td><%= time_ago_in_words(match.created_at)%></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @matches %>

<%= link_to 'New Match', new_match_path %> |
<%= link_to 'Players', players_path %>