<h1>Listing matches</h1>

<table>
  <thead>
    <tr>
      <th>Player1</th>
      <th>Score player1</th>
      <th>Player2</th>
      <th>Score player2</th>
      <th>Winner</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= @players.find(match.id_player1).name %></td>
        <td><%= match.score_player1 %></td>
        <td><%= @players.find(match.id_player2).name %></td>
        <td><%= match.score_player2 %></td>
        <td><%= winner(match) %></td>
        <td><%= match.date %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %> |
<%= link_to 'Players', players_path %>